<head>
  <link rel="stylesheet" href="/user/css/userLoginPage.css" />
</head>
<style>
  .signinContainer {
    min-height: 400px;
    display: flex;
    padding: 0 !important;
    justify-content: center;
  }
  @media (max-width: 765px) {
    .image {
      display: none;
    }
  }
</style>
<body>
  <div
    style="
      display: flex;
      justify-content: center;
      padding: 5px;
      height: 100vh;
      align-items: center;
    "
  >
    <div class="container card signinContainer" style="height: fit-content">
      <div class="signin-form">
        <h2 class="form-title">NewPassword</h2>
        <form
          action="/forgotpassword/passwordupdation"
          method="POST"
          class="register-form"
          id="login-form"
        >
          <div class="form-group">
            <input
              type="text"
              name="password"
              id="your_name"
              placeholder="Enter new passoword"
              required
            />
          </div>
          <input type="hidden" name="userEmail" value="<%= userEmail %>" />
          <div class="form-group form-button">
            <input
              type="submit"
              name="signin"
              id="signin"
              class="form-submit"
              value="Proceed"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
