<head>
    <style>
        .navbar{
            position: relative;
        }
        .right{
            display: inline-block;
            width:49%;
            height:80vh;
            background-color: red;
            margin: 0;
            position:fixed;
            top:0px;
            right: 0;
        }
        .left2{
            display: inline-block;
            width:50%;
            height:900px;
            background-color: rgb(81, 124, 232);
            margin: 0;
            position: relative;
  
        }

        .ooter{
            height: 10%;
            width: 100%;
            background-color: black;
            position: fixed;
            bottom: 0;
        }

        .innerdiv{
            height: 50px;
            width: 100%;
            background-color: black;
            position:sticky;
            top: 0;

        }
    </style>
</head>
<body>
    <%- include('./partials/navbar')%>
    <div class="left2">
        <div class="innerdiv">

        </div>

    </div>

    <div class="right">
        vcxvxcvcxvcxv
    </div>
    <div class="footer">

    </div>
</body>