
<body>
    <%- include('./partials/navBarLeft')%>
    <div style="height:4vw"></div>
    <button onclick="addToCart('<%= productData._id %>')" class="btn btn-dark">Add to Cart</button>
    <%- include('./partials/footer') %>
    
    <script>
        function addToCart(productId){
            $.ajax({
                url:'/user/addtocart?productId='+productId,
                method:'get',
                success:(response)=>{
                    console.log(response);
                    if(response.status){
                        let count=$('#cartCount').html()
                        count=parseInt(count)+1
                        $('#cartCount').html(count)
                    }
                    
                }
            })
        }
    </script>
</body>