<%- include('./partials/adminLayoutHeader')%>

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Coupons</li>
        </ul>
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Coupons
        </h1>
    </div>
</section>

this is Couponspage

<%- include('./partials/adminLayoutFooter')%>